<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vazbloke.t9controller">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Odin T9 Keyboard"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity" />

        <service
            android:name=".OdinT9Service"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Odin T9 Settings" />
    </application>
</manifest>